<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="email">Username (Email)</label>
      <input type="email" formControlName="email">
      <span class="error" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</span>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password">
      <span class="error" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>
    </div>

    <button>Login</button>
  </form>
  <br>
  <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Not registered?</a>
</div>