<div class="container mt-4">
    <div class="mt-3 mb-3 text-center">
        <h1>Payment Entry Form</h1>
    </div>
</div>
<div class="container border mt-3 bg-light">
    <div class="mb-3">
        <label  class="form-label">Payment Date</label>
        <input type="text" [(ngModel)]="payment.date" class="form-control" placeholder="Payment Date">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Particular</label>
        <input type="text" [(ngModel)]="payment.particular" class="form-control" placeholder="Particular">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Sell</option>
            <option value="2">Rent</option>
            <option value="3">Tax</option>
            <option value="4">VAT</option>
            <option value="5">Shopping</option>
            <option value="6">Salary</option>
            <option value="7">Salary & Shopping</option>
          </select>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Branch Name</label>
        <input type="text" [(ngModel)]="payment.entityname" class="form-control" placeholder="Branch Name / Entity Name">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Bangla Food Kinshicho</option>
            <option value="2">Bangla Bazar Halal food</option>
            <option value="3">Modina Telecom</option>
            <option value="3">Club 1 Night</option>
          </select>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Payment Method</label>
        <input type="text" [(ngModel)]="payment.method" class="form-control" placeholder="Payment Method">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Bank</option>
            <option value="2">Cash</option>
            <option value="3">Cash and Bank</option>
            <option value="4">Card</option>
            <option value="5">Check</option>
          </select>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Payment Amount</label>
        <input type="number" [(ngModel)]="payment.amount" class="form-control" placeholder="Payment Amount">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" [(ngModel)]="payment.description" rows="3"></textarea>
    </div>
        
</div>
<div class="mt-3 container text-center">
    <div class="mb-3 text-center">
        <button type="button" (click)="savePayment()" class="btn btn-success">Save</button>
        <span>&nbsp;</span><button type="button" (click)="resetForm()" class="ml-2 btn btn-warning">Reset</button>
    </div>    
</div>
<div class="mt-3 container text-center">
    <div class="mb-3 text-center">
        <h1>Payment List</h1>
    </div>    
</div>

<div class="container bg-light">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Date</th>
                <th>Particular</th>
                <th>Entity Name</th>
                <th>Method</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Action</th>
            </tr> 
        <tr *ngFor="let payment of payments">
            <td>{{ payment.date  }}</td>
            <td>{{ payment.particular }}</td>
            <td>{{ payment.entityname }}</td>
            <td>{{ payment.method }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.description }}</td>
            <td>
                <button (click)="updatePayment(payment)">Edit</button>
                <button (click)="deletePayment(payment)">Delete</button>
            </td>
        </tr>
    </tbody> 
    </table>  
</div>
